{
  "rules": {
    "max-lines": [
      "error",
      {
        "max": {{max_file_lines}},
        "skipBlankLines": true,
        "skipComments": true
      }
    ],
    "max-statements": ["error", {{max_function_lines}}]
  }
}
